.option {
  font-weight: bold;
  color: #636363;
  font-size: 15px;
  width: 110px;
  height: 40px;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.option:hover {
  color: #3B263E;
  background-color: #F8736F;
}